<% provide(:page_title, "All Posts") %>
<% provide(:blog_active, "active") %>

<main role="main">
  <div class="row">
    <%= link_to 'Create', new_authors_post_path, class: 'btn btn-lg btn-primary ml-auto mr-auto'%>

    <table class="table table-striped mt-3">
      <tr>
        <th colspan="1">Image</th>
        <th colspan="1">Title</th>
        <th colspan="1">Publish</th>
        <th colspan="1">Update</th>
        <th colspan="1">Action</th>
      </tr>

      <% @posts.each do |post| %>
      <tr>
        <td><img src="<%= post.banner_image_url %>" height="50" width="50" alt="image"></td>
        <td><%= link_to post.title, authors_post_path(post) %></td>
        <% if post.published? %>
            <td><%= link_to 'Unpublish', unpublish_authors_post_path(post), method: :put, class: 'btn btn-sm btn-info' %></td>
        <% else %>
            <td><%= link_to 'Publish', publish_authors_post_path(post), method: :put, class: 'btn btn-sm btn-info' %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_authors_post_path(post), class: 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Remove', authors_post_path(post), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %></td>
      </tr>
      <% end %>

    </table>

  </div>
</main>

