<header class="masthead">
  <h3 class="text-muted">HabiJabi Blog</h3>
  <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav text-md-center nav-justified w-100">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>

        <% if author_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= yield(:authors) %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_author.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'My posts', authors_posts_path, class: "dropdown-item" %>
              <%= link_to 'Account', authors_account_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
            <li class="nav-item">
              <%= link_to 'Sign in', new_author_session_path, method: :get, class: "nav-link" %>
            </li>
        <% end %>

      </ul>
    </div>
  </nav>
</header>
